.footer{
    grid-area: footer;
    text-align:center;
    align-self: end;
    color: #2C394B;
    & a{
      color:#5089C6;
      text-decoration: none;
      background-color: transparent;
      transition: all .2s ease-in-out;
    }
    & a:hover{
      background-color:lavender;
      padding: 0 2px;
      
    }
}