.footer{
    grid-area: footer;
    text-align:center;
    align-self: end;
    color: #2C394B;
    & a{
      color:#5089C6;
      text-decoration: none;
    }
    & a:hover{
      background-color: lavender;
    }
}