.main {
    grid-area: main;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fill,minmax(15rem, 1fr));
    place-items:center;
    align-items: end;
    z-index: 2;
    &-list {
      list-style: none;
      font-size: 1.2rem;
      &_data{
        font-weight: bold;
      }
    }
    &-btn{
      padding:1.2em;
      background-color: transparent;
      border: 1.2px solid blue; 
      border-radius:20px; 
    }
    &-btn:hover{
      background-color: blue;
      color: white; 
      font-size: 1rem;
    }
}