.sun{
    background-color: #FFCBCA;
}
.sun .page-status{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin: 0 auto;
    position:absolute;
    background-color: #ff7842;
    z-index: 1;
    top: 15rem;
    left: 20vw;
}