@import "./_header";
@import "./_main";
@import "./_footer";

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.page{
  display:grid;
  grid-template-areas: 'header' 'main' 'footer';
  padding: 0.2rem 2.5rem;
  min-height: 100vh;
  border: 1em solid blue;
  justify-content: center;
}




